header {
    background:var(--c3);
    position: fixed;
    z-index: 999;
    top:0;
    left:0;
}
.in {
    max-width:1920px;
    max-height:1080px;
    padding-left:100px;
    padding-right:100px;
    margin:0 auto;
}
@media (max-width:1000px) {
    .in {
        padding-left:30px;
        padding-right:30px;
    }
}
@media (max-width:700px) {
    #footer {
        padding-top:80px;
    }
    #footer * {
        display:flex;
        justify-content:center;
        flex-wrap:wrap;
        gap:50px;
    }
    .in {
        padding-left:10px;
        padding-right:10px;
    }
}