header {
    position: fixed;
    z-index: 999;
    top:0;
    left:0;
}
header, main, section, footer {
    width:100%;
    overflow:hidden;
}
header nav ul li a:hover {
    font-family:var(--t2);
    transition:.3 easy;
}
header nav ul li a:active {
    font-family:var(--t2);
    transition:.3 easy;
}
.header_back_active {
    background:var(--c8);
}
.lang a:hover {
    font-family:var(--t2);
    transition:.3 easy;
}
.lang a:active {
    font-family:var(--t2);
    transition:.3 easy;
}

.in {
    max-width:1920px;
    padding-left:100px;
    padding-right:100px;
    margin:0 auto;
}

.h1080M {max-height:1080px;}
.h100vh {height:100vh;}
._16_9 {aspect-ratio: 16 / 9;}
.Y1024 {display:none;}
.Y480 {display:none;}
@media (orientation: portrait) {
    .h100vh, .h1080M, ._16_9 {
        max-height:none !important;
        height: auto !important;
        aspect-ratio: auto;
    }
}
@media (max-width:1279px) {
    .h100vh, .h1080M, ._16_9 {
        max-height:none !important;
        height: auto !important;
        aspect-ratio: auto;
    }
    #_1 {
        padding-top:50px;
    }
    .wpcf7 ._1,
    .wpcf7 ._3 {
        flex-wrap:wrap;
    }
}
@media (max-width:1024px) {
    .in {
        padding-left:20px;
        padding-right:20px;
    }
    #_2 .in ._4 {
        .f10 {
            flex:1 1 40%;
        }
    }
    #_3 .in ._2 .gap100 {
            gap:20px;
    }
    .N1024 {
        display:none;
    }
    .Y1024 {
        display:flex;
    }
    #_3 .in ._2 ._1 ._2 ._1 {
        justify-content:center;
        .w50 {
            width:100%;
        }
    }
    #_3 .in .f ._2 ._1 ._2 {
        justify-content:flex-start;
        gap:50px;
        display:flex;
        flex-direction:column;
        .w50 {
            width:100%;
        }
    }
    #_3 .in .f ._2 ._1 ._2 ._2 {
        flex-direction:column;
        width:100%;
        gap:50px;
        flex: 1 1 auto;
    }
    #_8 .in ._2 .el {
        flex-wrap:wrap;
    }
    #_8 .in ._2 .el .w340M,
    #_8 .in ._2 .el .w500M {
        max-width:100%;
    }
    #_8 .in ._2 .el ._3 {
        width:100%;
        flex:1 1 100%;
        max-width:100%;
    }
}
@media (max-width:736px) {
    .N736 {
        display:none;
    }
    #_2 .in .f ._2 ._2 ._2 {
        flex-wrap:wrap;
    }
    #_2 .in .f ._2 ._2 ._2 ._2 {
        width:100%;
    }
    #_2 .gold {
        top:20%;
    }
    .in {
        padding-left:10px;
        padding-right:10px;
    }
    #_1 .in .f {
        flex-wrap:wrap;
    }
    #_1 .in ._1 .abs {
        position:static;
    }
    #_1 .in ._1 .w50 {
        width:100%;
    }
    #_1 .in ._1 .w340M {
        max-width:100%;
    }
    #_1 .right {
        margin-right:50%;
        transform:translateX(50%);

    }
    #_3 .in .f ._2 ._1 ._2 ._f {
        justify-content:flex-start;
    }
    #_3 .in .f ._2 ._1 ._2 ._1 .w50{
        width:100%;
    }

    #_3 .in .f ._2 ._1 ._1 {
        flex:1 1 auto;
    }

    #_3 .in ._2 ._2 ._2 .w50 {
        width:100%;
    }
    #_4 .in ._3 .w70 {
        width:100%;
    }
    #_4 .in ._1 ._2 {
        flex-wrap:wrap;
    }
    #_4 .in ._1 ._2 ._2 .btn_wrap {
        justify-content:center;
        width:100%;
    }
    #_5 .in ._16_9 ._6 {
        justify-content:center;
    }
}
@media (max-width:480px) {
    .in {
        padding-left:10px;
        padding-right:10px;
    }
    .N480 {
        display:none;
    }
    .Y480 {
        display:flex;
    }
    #_1 .in .f .gap50 {
        gap:20px;
    }
    #_1 .in .f ._2 .pad50t {
        padding-top:0px;
    }
    #_2 .f300 .btn_wrap,
    #_6 .f300 .btn_wrap {
        justify-content:center;
    }
    #_3 .in .f ._2 ._1 {
        flex-wrap:wrap;
    }
    #_3 .in .f ._2 ._1 ._2 ._2 ._2 .fc {
        flex-direction:row;
        justify-content:center;
    }
    #_7 .in .f ._2 ._1 {
        flex-wrap:wrap;
    }
    #_7 .in .f .f ._1 ._1,
    #_7 .in .f .f ._1 ._2 {
        justify-content:center;
    }
    #_8 .in ._1 ._2 ._1 > .f5,
    #_8 .in ._1 ._2 ._2 > .f5,
    #_8 .in ._1 ._2 ._3 > .f5 {
        flex:1 1 auto;
        width:auto;
        justify-content:flex-start;
    }
    #_8 .point {
        display:none;
    }
    footer * {
        display:flex;
        justify-content:center;
        width:100%;
        gap:10px;
    }
}
@media (min-width: 1921px) {
    .h100vh {
        height: auto;
    }
}



