.h1080M {max-height:1080px;}
.h100vh {height:100vh;}
.Y1024 {display:none;}
.Y480 {display:none;}

@media (orientation: portrait) {
    .h100vh, .h1080M, ._16_9 {
        max-height:none !important;
        height: auto !important;
        aspect-ratio: auto;
    }
}
@media (min-width: 1921px) {
    .h100vh {
        height: auto;
    }
    #_1 {
        padding-top:50px;
    }
}
@media (max-width:1279px) {
    .h100vh, .h1080M, ._16_9 {
        max-height:none !important;
        height: auto !important;
        aspect-ratio: auto;
    }
    #_1 {
        padding-top:50px;
    }
    .wpcf7 ._1,
    .wpcf7 ._3 {
        flex-wrap:wrap;
    }
    .in {
        padding-left:20px;
        padding-right:20px;
    }
}
@media (max-width:1024px) {
    .N1024 {
        display:none;
    }
    .Y1024 {
        display:flex;
    }
    #_3 ._12 {
        flex-wrap:wrap;
    }
}
@media (max-width:736px) {
    .N736 {
        display:none;
    }
    .fixed-link {
        position: fixed;
        background:var(--c3);
        padding-top:10px;
        padding-bottom:10px;
        top: 42px;
        right: 0px;
        z-index: 1000;
        padding-left:20px;
        padding-right:20px;
        text-align:end;
    }
    #_1 ._3 {
        flex-wrap:wrap;
    }
    #_1 ._4 .l5 {
        position:static;
        width:100%;
        max-width:100%;
    }
    #_1 ._17 p {
        text-align:start;
    }
    #_2 ._15 {
        flex-wrap:wrap;
    }
    #_2 ._18 {
        width:100%;
    }
    #_3 ._15 {
        width:100%;
    }
    #_3 ._8 {
        gap:20px;
    }
}
@media (max-width:500px) {
    .N480 {
        display:none;
    }
    .Y480 {
        display:flex;
    }
    #_1 ._4 {
        gap:10px;
    }
    #_1 ._9 {
        width:90%;
    }
    #_1 ._5 .l5 {
        padding-top:0px;
    }
    #_1 ._8 .l6 {
        font-size:14px;
    }
    #_1 .l8 {
        font-size:60px;
    }
    #_4 ._10 {
        text-align:end;
    }
    #_2 ._13 .btn_wrap {
        justify-content:center;
    }
    #_3 ._8 {
        flex-wrap:wrap;
    }
    #_3 ._9 {
        flex:1 1 300px;
    }
    footer * {
        display:flex;
        justify-content:center;
        width:100%;
        gap:10px;
    }
}
