/*
RESET
*/
* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    border:none;
}
body {
    background:url("../img/0.webp") center center, center center;
}
@font-face {
    font-family: 't1';
    src: url('../fonts/BebasNeueCyrillic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 't2';
    src: url('../fonts/FiraSans-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 't3';
    src: url('../fonts/FiraSans-Regular.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 100%; /* Возвращает размер шрифта к 100%, что равносильно 16px в большинстве браузеров */
  line-height: normal;
  color: inherit; /* Наследует цвет текста от родительского элемента */
  text-transform: none; /* Отменяет любое преобразование текста, такое как uppercase */
  /* И другие стили, которые вы хотите сбросить или переопределить */
}

button {
    border:none;
    all: initial;
}
a:hover,
button:hover {
    cursor:pointer;
}
img, iframe {
    border:none;
    height:100%;
    width:100%;
}
input {
    outline:none;
}
a {
    text-decoration:none;
    color: inherit;
}
ul {
    list-style:none;
}





