#_1 ._7 {
    top:40%;
    left:0;
}

.review_slider {
    height:420px;
}
.review_slider .f {
  transition: transform 0.3s ease-in-out; /* 0.3s - длительность анимации */
}

.review {
    width:280px;
    height:400px;
    flex: 0 0 280px;
    margin-left:5px;
    margin-right:5px;
}
.review img {
    border-radius:10px;
}

.pagination {
    height:100px;
    width:100%;
    display:flex;
    justify-content:space-between;
    position:relative;
}
.pagination button {
    height:50px;
    width:50px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:300;
}
.pag_l {
    position:absolute;
    left:0;
    top:0;
}
.pag_r {
    position:absolute;
    right:0;
    bottom:0;
}


@keyframes slideUp {
    from {
        transform: translateX(-50%) translateY(100%);
    }
    to {
        transform: translateX(-50%) translateY(0);
    }
}


#modul1 > ._3 {
  display: none;
}
#modul2 > ._3 {
  display: none;
}
#modul3 > ._3 {
  display: none;
}


