
.btn_wrap {
    display:flex;
}
.btn {
    display:flex;
    position:relative;
    overflow:hidden;
    z-index:2;
    height:30px;
}
.btn a,
.btn button {
    display:flex;
    margin:5px;
    padding-left:5px;
    padding-right:5px;
    color:var(--c1);
    z-index:99;
    white-space: nowrap;
}
.btn:before {
    content:'';
    display:flex;
    transform:translateX(-82%);
    height:100%;
    width:100%;
    top:0;
    background:var(--c4);
    position:absolute;
    transition:1s all;
    z-index:1;
    padding:5px;
}

.btn:hover:before {
    transform:translateX(0%);
}
.btn:hover a,
.btn:hover button {
    color:var(--c2);
}