/*
UNDERLINE
*/
.underline {
	position:relative;
}
.underline::before {
	content: '';
	position: absolute;
	bottom:-2px;
	left:0;
	width: 0%;
	height: 2px;
	transition: width 0.5s;
}
.underline:hover:before {
	width: 50%;
}
.underline:active:before {
    width: 100%;
}
.underline_25::before {
	width: 25%;
}
.underline_c1::before {
    background: var(--c1);
}
.underline_c2::before {
    background: var(--c2);
}
.underline_c3::before {
    background: var(--c3);
}
.underline_c4::before {
    background: var(--c4);
}
.underline_space {
	position:relative;
}
.underline_space::before {
	content: '';
	position: absolute;
	bottom:-2px;
	left:0;
	width: 25%;
	height: 2px;
}